@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row py-5" aria-labelledby="aspnetTitle">
        <h1 id="title" class="display-4 text-primary">Desarrollo de aplicaciones WEB</h1>
        <p class="lead mb-5">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <div>
            <a href="https://asp.net" class="btn btn-primary px-5 py-3 rounded-pill">Learn more &raquo;</a>
        </div>
    </section>
</main>