
@{
    ViewBag.Title = "IndexTwo";
}

<h2>IndexTwo</h2>

@ViewBag.Group
@ViewBag.value

@Html.ActionLink("Mi ruta", "Index", "Home", null, new {dato = "", @class = "btn btn-outline-dark px-5 rounded-pill py-2 fw-semibold text-uppercase"})